@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    width: 375px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
}